
body {
    background: linear-gradient(-135deg, red, blue, green, yellow, white);
}

.calc {
    /*margin: 25px auto;*/
    /*display: flex;*/
    /*align-items: center;*/
    width: 300px;

    height: 500px;
    /*border: 1px solid #000;*/
    border-radius: 20px;
    background: #000000;
    color: #ffff;
    font-family: Arial, sans-serif;
    padding: 18px;
    box-shadow: 10px 13px 8px #123456;

}

.calc-screen {
    height: 125px;
    padding: 10px;
    display: grid;
    align-items: end;
    margin-bottom: 20px;
}

.calc-screen p {
    text-align: right;
    font-size: 4rem;
    margin: 0;
}

.buttons {
    display: grid;
    grid-template-areas:
            "ac plus-minus percent division"
    "seven eigth nine multi"
    "four five six minus"
    "one two three plus"
    "zero zero dot equal";
    grid-gap: 7px;
    justify-items: center;
}

.btn {
    width: 60px;
    height: 60px;
    background: #333;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}

/*.btn.zero {*/
/*    grid-area: zero;*/
/*    width: 100%;*/
/*    border-radius: 34px;*/
/*}*/

.btn:hover {
    filter: brightness(120%);

}

.btn:active {
    filter: brightness(90%);

}

.btn.bg-grey {
    background: rgba(86, 1, 25, 0.29);
    box-shadow: 1px 3px 6px #678899;
}

.btn.bg-orange {
    background: #ff9501;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: grid;
    height: 100%;
    place-items: center;

    /*background: #000000;*/
}

.wrapper {
    height: 100px;
    width: 360px;
    position: relative;
    background: linear-gradient(135deg, #14ff39, #ffeb3b, #ff00e0);
    border-radius: 10px;
    cursor: default;
    animation: animate 1.5s linear infinite;
    margin-top: 50px;
}


.wrapper span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.wrapper .display{
    z-index: 999;
    height: 85%;
    width: 345px;
    background: #1b1b1b;
    border-radius: 6px;
    /*text-align: right;*/
}

.display #time{
    line-height:85px ;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #14ff39, #ffeb3b, #ff00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 1.5s linear infinite;
    /*margin: 20px 0;*/
}

@keyframes animate{
   100%{
       filter: hue-rotate(360deg);
   }
}

.wrapper span{
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

.wrapper span:first-child{
    filter: blur(7px);
}
.wrapper span:last-child{
    filter: blur(20px);
}